.navbarContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbarTitle {
	color: #b2e5ff;
}

.navbarLink {
	float: right;
	display: flex;
}
.nav-color {
	background-color: #3f5474;
}

.nav-color-text {
	color: #b2e5ff;
}

.button-color {
	background: #3f5474;
	border-color: #3f5474;
}
